<h1>DBZ main page</h1>
<hr>


<div class="row">
    <div class="col">
        <dbz-list (onDeleteId)="onDeleteCharacter($event)" [characterList]="characters" ></dbz-list>
    </div>
    <div class="col">
        <!-- las () son para eventos, los [] son para propiedades, onNewCHaracter es
         el emisior de eventos, onNewCharacter es el metodo para guardarlo en el main-page.component.ts
        $event es el valor que se emite en el emisor de eventos
        --> 
        <add-dbz-character (onNewCHaracter)="onNewCharacter($event)"></add-dbz-character>
    </div>
</div>